#invisible {
  display: none;
}
.item__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(235, 235, 235);
  background-color: white;
  width: 800px;
  height: 70px;
  margin: auto;
}
.item__box:hover .todo__edit,
.item__box:hover .todo__delete {
  display: block;
}
.todo__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__edit__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: rgb(240, 240, 240);
  width: 500px;
  height: 35px;
  padding: 0 15px;
}
.todo__edit__ok {
  font-family: FontAwesome;
  font-weight: bold;
  position: absolute;
  top: 13px;
  right: 80px;
  cursor: pointer;
  margin: 5px;
  padding: 0px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: rgb(129, 200, 255);
  outline: none;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.todo__edit__ok:hover {
  color: rgb(47, 165, 255);
}
.todo__edit__no {
  position: absolute;
  top: 15px;
  right: 45px;
  cursor: pointer;
  margin: 5px;
  padding: 0px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: rgb(255, 175, 175);
  outline: none;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.todo__edit__no:hover {
  color: rgb(255, 100, 100);
}

.textItem {
  position: absolute;
  left: 128px;
  color: black;
  font-size: 22px;
}
.textItem.complete {
  color: rgb(200, 200, 200);
  text-decoration: line-through;
}

.completeBt {
  position: absolute;
  top: 15px;
  left: 10px;
  cursor: pointer;
  margin: 5px;
  padding: 0px;
  font-size: 17px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: rgb(96, 197, 255, 0);
  outline: none;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 50%;
  transition: all 0.1s ease;
}
.completeBt.cancel {
  color: rgb(0, 175, 175);
}

.todo__edit {
  position: absolute;
  right: 45px;
  cursor: pointer;
  margin: 5px;
  padding: 0px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: rgb(129, 200, 255);
  outline: none;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: none;
}
.todo__edit:hover {
  color: rgb(47, 165, 255);
}

.todo__delete {
  position: absolute;
  right: 10px;
  cursor: pointer;
  margin: 5px;
  padding: 0px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: rgb(255, 175, 175);
  outline: none;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: none;
}
.todo__delete:hover {
  color: rgb(255, 100, 100);
}

@media screen and (max-width: 768px) {
  .item__box {
    width: 350px;
  }
  .todo__edit__text {
    font-size: 11px;
    width: 150px;
  }
  .todo__edit__ok {
    left: 45px;
    font-size: 12px;
  }
  .todo__edit__no {
    font-size: 12px;
  }

  .textItem {
    left: 55px;
    font-size: 13px;
  }

  .completeBt {
    top: 20px;
    width: 20px;
    height: 20px;
    font-size: 8px;
  }
  .todo__edit {
    font-size: 12px;
  }
  .todo__delete {
    font-size: 12px;
  }
}
