#invisible {
  display: none;
}

.todo__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.todo__edit__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: rgb(240, 240, 240);
  width: 500px;
  height: 35px;
  padding: 0 15px;
}
.todo__edit__ok {
  cursor: pointer;
  outline: none;
  border: none;
  margin: 10px;
  padding: 0px;
  font-size: 22px;
  background-color: white;
  color: rgb(129, 200, 255);
  transition: all 0.3s ease;
}
.todo__edit__ok:hover {
  color: rgb(47, 165, 255);
}
.todo__edit__no {
  cursor: pointer;
  margin: 10px;
  width: 23px;
  height: 23px;
  color: rgb(255, 175, 175);
  transition: all 0.3s ease;
}
.todo__edit__no:hover {
  color: rgb(255, 100, 100);
}

@media screen and (max-width: 768px) {
  .todo__edit__text {
    font-size: 11px;
    width: 150px;
  }
  .todo__edit__ok {
    font-size: 16px;
  }
  .todo__edit__no {
    width: 18px;
    height: 18px;
  }
}
