.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
  font-family: "Ubuntu", sans-serif;
}

.todo__title {
  font-size: 80px;
  color: rgb(0, 175, 175);
}

@media screen and (max-width: 768px) {
  .todo__title {
    font-size: 40px;
  }
}
